.c-add-form
  display: none;
  position: absolute;
  z-index: 3; 
  min-width: 395px; 
  top: 93px;
  .recallform
    &__fieldset
      min-width: 100px;
    .comment-sign-buttons
      input.recall-sign-radio
        display: none
      